// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar navbar-fixed-top navbar-inverse{
	margin-bottom:20px;
}
.booksbody{
	margin-top:50px;
}
.title2{
	color:white;
	font-size:20px;
}
.field{
	margin-bottom:10px;
}